    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Tìm liên hệ..." ng-model="searchContact"/>
    </div>
    <div id="contacts">
      <ul>
        <li class="contact {{user.active? 'active':''}}" ng-repeat="user in users | filter: searchContact" ng-click="load(user)">
          <div class="wrap">
            <span class="contact-status {{user.online?'online':'busy'}}"></span>
            <img src="{{user.user.avatar}}" alt="" />
            <div class="meta">
              <p class="name">{{user.user.name}} ({{unreadMessages(user).length}})</p>
              <p class="preview">{{(user.user.messages.length > 0)?user.user.messages[0]:''}}</p>
            </div>
          </div>
        </li>
        <!-- <li class="contact active">
          <div class="wrap">
            <span class="contact-status busy"></span>
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <div class="meta">
              <p class="name">Harvey Specter</p>
              <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
            </div>
          </div>
        </li>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status away"></span>
            <img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
            <div class="meta">
              <p class="name">Rachel Zane</p>
              <p class="preview">I was thinking that we could have chicken tonight, sounds good?</p>
            </div>
          </div>
        </li> -->
      </ul>
    </div>